<html>

<head>
    <title>Update Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: gray;
        }

        .loginbox {
            border-radius: 20px;
            background: #ffffff;
            top: 50%;
            left: 50%;
            padding: 20px;
            width: 400px;
            height: 420px;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <div class="container loginbox">
        <h1 align="center">Update Password</h1>
        <% if (typeof success !=='undefined' && success.length> 0) { %>
            <div class="alert alert-info">
                <%= success %>
            </div>
            <% } %>
                <% if (typeof error !=='undefined' && error.length> 0) { %>
                    <div class="alert alert-warning">
                        <%= error %>
                    </div>
                    <% } %>
                        <form action="/updatePass" method="post">
                            <div class="form-group">
                                <label for="username">Old Password</label>
                                <input type="Password" class="form-control" name="oldPassword" id="userid"
                                    placeholder="Enter The Password">
                                <% if (typeof error1 !=='undefined' && error1.length> 0) { %>
                                    <div style="color: red;">
                                        <%= error1 %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="form-group">
                                <label for="username">New Password</label>
                                <input type="Password" class="form-control" name="newPassword" id="userid"
                                    placeholder="Enter The Password">
                                <% if (typeof error5 !=='undefined' && error5.length> 0) { %>
                                    <div style="color: red;">
                                        <%= error5 %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="form-group">
                                <label for="username">RePassword</label>
                                <input type="password" class="form-control" name="repassword" id="userid"
                                    placeholder="Enter The RePassword">
                                <% if (typeof error6 !=='undefined' && error6.length> 0) { %>
                                    <div style="color: red;">
                                        <%= error6 %>
                                    </div>
                                    <% } %>
                            </div>


                            <button type="submit" class="btn btn-success">Update</button>
                            <a href="/dashboard" class="btn btn-danger">cancel</a>
    </div>

    </form>


    </div>
</body>

</html>